.title {
    background-color: #cccccc;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-size: 30px;
    line-height: 50px;
}

.test {
    font-size: 40px;
    color: red;
}

.loc_title {
    composes: title;
}

.global_title {
}

.global_title {
}

.global_title {
    composes: title from global;
}

.img {
    /* background: url('../../assets/2.png'); */
    width: 100vh !important;
    height: 200px;
}
