.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.content {
    flex: 1;
    width: 100vw;
    overflow-x: hidden;
}

.footer {
    width: 100vw;
    background-color: red;
}

.height20 {
    height: 20px;
}
.height21 {
    height: 21px;
}
.height22 {
    height: 22px;
}
.height23 {
    height: 23px;
}
.height24 {
    height: 24px;
}
.height25 {
    height: 25px;
}
.height26 {
    height: 26px;
}
.height27 {
    height: 27px;
}
.height28 {
    height: 28px;
}
.height29 {
    height: 29px;
}
.height30 {
    height: 30px;
}
.height31 {
    height: 31px;
}
.height32 {
    height: 32px;
}
.height33 {
    height: 33px;
}
.height34 {
    height: 34px;
}
.height35 {
    height: 35px;
}
.height36 {
    height: 36px;
}
.height37 {
    height: 37px;
}
.height38 {
    height: 38px;
}
.height39 {
    height: 39px;
}
.height40 {
    height: 40px;
}
.height41 {
    height: 41px;
}
.height42 {
    height: 42px;
}
.height43 {
    height: 43px;
}
.height44 {
    height: 44px;
}
.height45 {
    height: 45px;
}
.height46 {
    height: 46px;
}
.height47 {
    height: 47px;
}
.height48 {
    height: 48px;
}
.height49 {
    height: 49px;
}
.height50 {
    height: 50px;
}
.height51 {
    height: 51px;
}
.height52 {
    height: 52px;
}
.height53 {
    height: 53px;
}
.height54 {
    height: 54px;
}
.height55 {
    height: 55px;
}
.height56 {
    height: 56px;
}
.height57 {
    height: 57px;
}
.height58 {
    height: 58px;
}
.height59 {
    height: 59px;
}
.height60 {
    height: 60px;
}
.height61 {
    height: 61px;
}
.height62 {
    height: 62px;
}
.height63 {
    height: 63px;
}
.height64 {
    height: 64px;
}
.height65 {
    height: 65px;
}
.height66 {
    height: 66px;
}
.height67 {
    height: 67px;
}
.height68 {
    height: 68px;
}
.height69 {
    height: 69px;
}
.height70 {
    height: 70px;
}
.height71 {
    height: 71px;
}
.height72 {
    height: 72px;
}
.height73 {
    height: 73px;
}
.height74 {
    height: 74px;
}
.height75 {
    height: 75px;
}
.height76 {
    height: 76px;
}
.height77 {
    height: 77px;
}
.height78 {
    height: 78px;
}
.height79 {
    height: 79px;
}
.height80 {
    height: 80px;
}
.height81 {
    height: 81px;
}
.height82 {
    height: 82px;
}
.height83 {
    height: 83px;
}
.height84 {
    height: 84px;
}
.height85 {
    height: 85px;
}
.height86 {
    height: 86px;
}
.height87 {
    height: 87px;
}
.height88 {
    height: 88px;
}
.height89 {
    height: 89px;
}
.height90 {
    height: 90px;
}
.height91 {
    height: 91px;
}
.height92 {
    height: 92px;
}
.height93 {
    height: 93px;
}
.height94 {
    height: 94px;
}
.height95 {
    height: 95px;
}
.height96 {
    height: 96px;
}
.height97 {
    height: 97px;
}
.height98 {
    height: 98px;
}
.height99 {
    height: 99px;
}
.height100 {
    height: 100px;
}
.height101 {
    height: 101px;
}
.height102 {
    height: 102px;
}
.height103 {
    height: 103px;
}
.height104 {
    height: 104px;
}
.height105 {
    height: 105px;
}
.height106 {
    height: 106px;
}
.height107 {
    height: 107px;
}
.height108 {
    height: 108px;
}
.height109 {
    height: 109px;
}
.height110 {
    height: 110px;
}
.height111 {
    height: 111px;
}
.height112 {
    height: 112px;
}
.height113 {
    height: 113px;
}
.height114 {
    height: 114px;
}
.height115 {
    height: 115px;
}
.height116 {
    height: 116px;
}
.height117 {
    height: 117px;
}
.height118 {
    height: 118px;
}
.height119 {
    height: 119px;
}
.height120 {
    height: 120px;
}
.height121 {
    height: 121px;
}
.height122 {
    height: 122px;
}
.height123 {
    height: 123px;
}
.height124 {
    height: 124px;
}
.height125 {
    height: 125px;
}
.height126 {
    height: 126px;
}
.height127 {
    height: 127px;
}
.height128 {
    height: 128px;
}
.height129 {
    height: 129px;
}
.height130 {
    height: 130px;
}
.height131 {
    height: 131px;
}
.height132 {
    height: 132px;
}
.height133 {
    height: 133px;
}
.height134 {
    height: 134px;
}
.height135 {
    height: 135px;
}
.height136 {
    height: 136px;
}
.height137 {
    height: 137px;
}
.height138 {
    height: 138px;
}
.height139 {
    height: 139px;
}
.height140 {
    height: 140px;
}
.height141 {
    height: 141px;
}
.height142 {
    height: 142px;
}
.height143 {
    height: 143px;
}
.height144 {
    height: 144px;
}
.height145 {
    height: 145px;
}
.height146 {
    height: 146px;
}
.height147 {
    height: 147px;
}
.height148 {
    height: 148px;
}
.height149 {
    height: 149px;
}
.height150 {
    height: 150px;
}
.height151 {
    height: 151px;
}
.height152 {
    height: 152px;
}
.height153 {
    height: 153px;
}
.height154 {
    height: 154px;
}
.height155 {
    height: 155px;
}
.height156 {
    height: 156px;
}
.height157 {
    height: 157px;
}
.height158 {
    height: 158px;
}
.height159 {
    height: 159px;
}
.height160 {
    height: 160px;
}
