.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
}

.header {
    height: 100px;
    width: 100vw;
    background-color: blue;
}

.content {
    flex: 1;
}

.footer {
    height: 100px;
    width: 100vw;
    background-color: red;
}
